@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

body {
  /* background-image: url("public/images/background-parchment-seamless.jpg"); */
  background-image: url("public/images/fantasy-background.jpg");
  background-color: rgb(221, 177, 112);
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(10px); */
  background-attachment: fixed;
  font-family: "Yatra One", cursive;

  margin: 0px;
}

#parchment-background {
  position: absolute;
  top: calc(50% - 573px);
  left: calc(50% = 430px);
  /* height: 100%; */
  /* Actual Size */
  /* min-height: 960px;
  min-width: 720px; */
  /* Desired Size */
  height: 1146px;
  width: 860px;

  justify-self: center;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

#background-container {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}

/* #start-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
  border: 1px;
  border-style: solid;
} */

#start-title {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 200px);

  width: 400px;
  /* height: 40px; */
  /* border: 1px;
  border-style: solid; */
}

#character-form {
  position: absolute;
  top: calc(50%);
  left: calc(50% - 200px);
  width: 400px;
  /* padding-top: 150px; */
  /* border: 1px;
  border-style: solid; */
}

/* Question Responses */
#question {
  /* padding-top: max(300px, 25vh); */

  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);

  width: 600px;
}

.response-container {
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("public/images/response-border.png");
  background-size: cover;
  background-position: center;

  transition: all 0.2s ease-in-out;
}

.response-container:hover {
  transform: scale(1.1);
}

.response {
  padding: 0 30px 0 30px;
}

#question-response-1 {
  position: absolute;
  top: calc(50% - 170px);
  /* left: calc(40% - 125px); */
  left: calc(50% - 265px);
}
#question-response-2 {
  position: absolute;
  top: calc(50% - 170px);
  /* left: calc(60% - 125px); */
  left: calc(50% + 15px);
}
#question-response-3 {
  position: absolute;
  top: 50%;
  /* left: calc(65% - 125px); */
  left: calc(50% + 80px);
}
#question-response-4 {
  position: absolute;
  top: calc(50% + 170px);
  /* left: calc(60% - 125px); */
  left: calc(50% + 15px);
}
#question-response-5 {
  position: absolute;
  top: calc(50% + 170px);
  /* left: calc(40% - 125px); */
  left: calc(50% - 265px);
}
#question-response-6 {
  position: absolute;
  top: 50%;
  /* left: calc(35% - 125px); */
  left: calc(50% - 330px);
}

#shield {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 110px);
  width: 220px;
  height: 220px;
}

#dice {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  /* fill: white; */
  transition: all 0.2s ease-in-out;
}

#dice:hover {
  transform: scale(1.2);
}

/* Results Page Styles */

#result-title {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
  width: 400px;
  height: 40px;
  /* padding-top: 25vh; */
  /* border: 1px solid; */
}

#story-container {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 250px);

  width: 500px;
  height: 500px;
  display: block;
  /* flex-direction: column; */
  justify-content: left;
  text-align: left;

  /* border: 1px solid; */
}

#final-phrase {
  position: absolute;
  top: calc(50% + 310px);
  left: calc(50% - 250px);

  width: 500px;
  height: 30px;
  display: block;
  /* flex-direction: column; */
  justify-content: left;
  /* text-align: left; */

  /* border: 1px solid; */
}

/* Start Again Button */
#reset {
  position: absolute;
  top: calc(50% + 360px);
  left: calc(50% - 250px);

  width: 200px;
  height: 40px;

  border: 2px solid;
}

#existing-character-form {
  position: absolute;
  top: calc(50% + 360px);
  left: calc(50% + 50px);

  width: 200px;
  height: 40px;

  border: 2px solid;
}
