@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

body {
  /* background-image: url("public/images/background-parchment-seamless.jpg"); */
  background-image: url("public/images/fantasy-background.jpg");
  background-color: rgb(221, 177, 112);
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(10px); */
  background-attachment: fixed;
  font-family: "Yatra One", cursive;

  margin: 0px;
}

#parchment-background {
  position: absolute;
  height: 100%;
  /* Actual Size */
  /* min-height: 960px;
  min-width: 720px; */
  /* Desired Size */
  min-height: 1146px;
  min-width: 860px;

  justify-self: center;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

#background-container {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}

/* #start-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
  border: 1px;
  border-style: solid;
} */

#start-title {
  padding-top: max(230px, 20vh);
  /* border: 1px;
  border-style: solid; */
}

#character-form {
  padding-top: 150px;
  /* border: 1px;
  border-style: solid; */
}

/* Question Responses */
#question {
  padding-top: max(300px, 25vh);
}

.response-container {
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("public/images/response-border.png");
  background-size: cover;
  background-position: center;
}

#question-response-1 {
  position: absolute;
  top: 40%;
  left: calc(40% - 125px);
}
#question-response-2 {
  position: absolute;
  top: 40%;
  left: calc(60% - 125px);
}
#question-response-3 {
  position: absolute;
  top: 55%;
  left: calc(65% - 125px);
}
#question-response-4 {
  position: absolute;
  top: 70%;
  left: calc(60% - 125px);
}
#question-response-5 {
  position: absolute;
  top: 70%;
  left: calc(40% - 125px);
}
#question-response-6 {
  position: absolute;
  top: 55%;
  left: calc(35% - 125px);
}
